<h1>Verification</h1>

<h2>Expected Code [<%= @code %>]</h2>
  
Enter code:

<%= form_for @attempt,
            url: attempt_url,
            method: :post do |f| %>

  <%= f.text_field :code_received %>

  <br/><br/>

  <%= f.submit "Verify" %>

<% end %>

<%- if @show_nevermind -%>
  <%= link_to "Nevermind, I'll do this later", main_app.root_url %>
<%- end -%>
