<h1>Verification</h1>

<h2>Expected Code [<%= @code %>]</h2>

<% if @errors.any? %>  
<div id="errorExplanation">  
  <ul>  
  <% @errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  
  </ul>  
</div>  
<% end %>

Enter code:

<%= form_for @attempt,
            url: attempt_url,
            method: :post do |f| %>

  <%= f.text_field :code_received %>

  <br/><br/>

  <%= f.submit "Verify" %>

<% end %>