<h2>Phone Verification When Signing In</h2>

<p>Add another layer of security to your account by enabling phone verification. Every time you sign in, we'll send a text message to your mobile phone with a verification code.</p>

<% if @settings.errors.any? %>  
<div id="errorExplanation">  
  <ul>  
  <% @settings.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  
  </ul>  
</div>  
<% end %>

<%= form_for @settings, url: {action: "update"}, method: :post do |f| %>

<%= f.label :phone_number, "Add your mobile phone" %>
<%= f.text_field :phone_number %>

<br/><br/>

<%= f.submit "Save and Continue" %>
or
<%= link_to "Cancel Phone Verification setup", main_app.root_url %>

<% end %>